<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Privacy Policy</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="text">
<h1>Privacy Policy</h1>

This website has been developed for showcasing purpose only.
<ul>
    <li><b>Data Collection</b>:Pictures and associated metadata that you upload are collected for classification purposes only.</li>
    <li><b>Purpose of Data Collection</b>: The data are used solely for the purpose of classifying the uploaded picture(s) using machine learning algorithms through a third-party service (AWS - Amazon Web Services).</li>
    <li><b>Legal Basis for Processing</b>: We process your data based on your explicit consent, which you provide when uploading your pictures.</li>
    <li><b>Data Usage</b>: Your pictures are processed to provide classification results and improve our services. We do not share your data with third parties except as necessary for providing our service.</li>
    <li><b>Data Retention</b>: We retain your data for seven (7) days after which they are permanently deleted.</li>
    <li><b>Data Protection Measures</b>: We implement industry-standard security measures to protect your data.</li>
</ul>
</div>
</body>
</html>